

@using TicketFlow.Application.Users.Services

@inject ISignInManager IISignInManager

@if (IISignInManager.IsSignedIn())
{
    <div class="dropdown show">
        <a class="nav-link text-dark" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Account
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item logout" asp-controller="Account" asp-action="SignOut" asp-route-return_to="/">
                <i class="la la-sign-out"></i> Logout
            </a>
        </div>
    </div>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="SignIn" asp-route-return_to="/">Sign in</a>
        </li>
    </ul>
}